@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}


* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    color: var(--Medium-Gray);

    /* DEBUG */
    /* border: 1px solid #000; */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--Almost-White);
}

section {
    width: 95%;
    min-width: 880px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-bottom: 5%;
    width: 100%;
    min-width: 880px;
    height: 10%;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav figure {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

nav menu {
    /* width: 70%; */
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav menu ul li {
    margin-left: 30px;
    cursor: pointer;
}
nav menu ul li:hover{
    font-weight: 700;
    color: var(--Almost-Black);
}


nav menu ul li.feature,
nav menu ul li.company {
    display: flex;
    align-items: center;
}

nav menu ul li.feature img,
nav menu ul li.company img {
    margin-left: 10px;
}

nav .authen {
    /* width: 20%; */
    height: 100%;
    display: flex;
    align-items: center;
    flex-basis: 200px;
}

nav .authen ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .authen ul > * {
    cursor: pointer;
}

nav .authen ul > *:hover {
    font-weight: 700;
    color: var(--Almost-Black);
}

nav .authen ul li:last-child {
    padding: 12px;
    border: 2px solid var(--Medium-Gray);
    border-radius: 10px;;
}

.ham {
    display: none;
}

/* MAIN */
main {
    width: 90%;
    max-width: 1100px;
    height: 65%;
    min-height: 356px;
    display: flex;
}


/* LEFT SIDE PANEL */
main article {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main article .gr-article {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

main article .gr-article .topic {
    font-size: 3em;
    font-weight: 800;
    color: var(--Almost-Black);
}

main article .gr-article .detail {
    width: 80%;
    font-size: 0.8em;
    line-height: 1.8;
}

main article .gr-article button {
    padding: 15px;
    width: 150px;
    border-style: none;
    border-radius: 10px;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    cursor: pointer;
}

main article .gr-article button:hover {
    border: 1px solid var(--Almost-Black);
    background-color: var(--Almost-White);
    color: var(--Almost-Black);
}

main article figure.biz-icon {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main article figure.biz-icon > img {
    height: 50%;
}

/* LEFT SIDE PANEL */
main > figure {
    margin: 0;
    padding: 0;
    width: 50%;
    background-image: url(./images/image-hero-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


/* FOOTER */
.attribution > * { 
    width: 100%; 
    font-size: 11px; 
    color: #000; 
}



/* SUB-MENU */
/* FEATURE SUB-MENU */
nav menu ul li.feature {
    position: relative;
}

.wrap-feature {
    width: 130px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 5px 1px 0px #dadada;
    position: absolute;
    top: 30px;
    left: -30px;

    display: none;
}

.wrap-feature > .sub-feature > span {
    display: inline-block;
    margin-right: 10px;
}

.wrap-feature > * {
    padding: 6px;
    font-size: 0.7em;;
}

.wrap-feature > *:hover{
    background-color: #ddd;
}




/* COMPANY SUB-MENU */
nav menu ul li.company {
    position: relative;
}


.wrap-company {
    width: 120px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 5px 5px 0px #dadada;
    position: absolute;
    top: 30px;

    display: none;
}

.wrap-company > * {
    padding: 12px 0px 12px 24px;
    font-size: 0.7em;;
}

.wrap-company > *:hover{
    background-color: #ddd;
}



/* SHOW SUB-MENU */
.active {
    display: block;
}








/* MOBILE APPLICATION 375PX */
@media (max-width: 375px) {

    /* SETUP MIN-WIDTH */
    section, nav, main article {
        min-width: 100%;
        max-width: 100%;
    }


    /* SETUP MOBILE LAYOUT */
    body {
        margin: 0;
        padding: 0;
        min-width: 350px;
        max-width: 350px;
        min-height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    section {
        width: 100%;
        max-height: 700px;
        display: flex;
        flex-direction: column;
    }
    nav {
        margin-bottom: 0px;
        width: 100%;
    }
    nav > figure {
        margin-left: 10px;
        width: 100px;
    }

    .ham {
        width: 50px;
        display: block;
        z-index: 99;
    }


    main {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    main > figure {
        width: 100%;
        height: 60%;
        background-image: url(./images/image-hero-mobile.png);
        background-size: contain;   
    }
    
    main article {
        margin-top: 0px;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    main article > .gr-article {
        margin-bottom: 20px;;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    main article > .gr-article > .topic {
        text-align: center;
        font-size: 2em;
    }

    main article > .gr-article > .detail {
        width: 100%;
        text-align: center;
    }

    main article figure.biz-icon {
        width: 90%;
    }

    .attribution { 
        text-align: center;
        font-size: 0.5em;
    }

    /* SLIDE MENU */
    /* MOBILE GENERAL MENU */
    nav menu {
        width: 60%;
        height: 100vh;
        background-color: var(--Almost-White);
        display: flex;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: 0px;

        display: none;
    }

    nav menu::after {
        content: '';
        width: 40%;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        position: fixed;
        top: 0;
        left: 0;
    }

    nav menu ul {
        margin-top: 100px;
        width: 100%;
        /* height: 45vh; */
        display: flex;
        flex-direction: column;
    }

    nav menu ul li {
        padding: 10px;
    }


    /* MOBiLE AUTHEN MENU */
    nav > .authen {
        width: 60%;
        /* position: fixed;
        top: 0px;
        right: 0px; */
        position:relative;
        display: none;
    }

    nav .authen ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        
        position: absolute;
        top: 80vh;
        right: -40px;
    }

    nav .authen ul li {
        width: 90%;
        padding: 20px;
        text-align: center;
    }

    
    /* MOBILE SUB-MENU */
    /* FEATURE SUB-MENU */
    nav menu ul li.feature {
        /* height: 0px; */
        display: block; 
    }

    .wrap-feature {
        margin-top: 20px;
        margin-left: 40px;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        display: none;
    }

    /* COMPANY SUB-MENU */
    nav menu ul li.company {
        /* height: 10px; */
        display: block;
    }
    
    
    .wrap-company {
        margin-top: 20px;
        width: 120px;
        background-color: transparent;
        box-shadow: none;
        display: none;
    }


    /* SHOW HAM-MENU */
    .active {
        display: block;
    }
}